menu "Blue Sky Demo App"

    choice
        prompt "Device Type"
        default DEVICE_TYPE_ESP_32S
        help
            Specifies the type of ESP32 device. 
    
        config DEVICE_TYPE_ESP_32S
            bool "ESP-32S"
        config DEVICE_TYPE_M5STACK
            bool "M5Stack"
    endchoice
    
    # NOTE: This config is not displayed as a input in the Kconfig menu, as its value is
    # entirely derived from the Device Type choice.  However the CONFIG_EXAMPLE_DISPLAY_TYPE
    # define that is produced is needed to configure the TFT library correctly.

    config EXAMPLE_DISPLAY_TYPE
        int
        range 0 3
        default 0 if DEVICE_TYPE_ESP_32S
        default 3 if DEVICE_TYPE_M5STACK

    config FACTORY_RESET_BUTTON_DURATION
        int "Factory Reset Button Duration (ms)"
        range 0 65535
        default 5000
        help
            The amount of time (in milliseconds) that the user must press the attention
            button to initiate a factory reset.

endmenu